<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <apikeys>
  </apikeys>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <activePackageSource>
    <add key="MyCompany Deploy" value="https://mycompany.com/mvn/api/nuget/cl-nuget-releases" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="MyCompany Deploy" value="https://mycompany.com/mvn/api/nuget/cl-nuget-releases" />
  </packageSources>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
    <CableLabs_x0020_Deploy>
      <add key="Username" value="PipUser" />
      <add key="ClearTextPassword" value="PipPassword" />
    </CableLabs_x0020_Deploy>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="MyCompany Deploy" value="true" />
  </disabledPackageSources>
</configuration>